$white: rgb(255, 0, 0);
$border: rgb(163, 163, 163);
$button: rgb(224, 209, 0);
$main_font: Roboto;
body{
    margin: 0;
    font-family: Roboto;
}
input{
    border-color: $border;
    border-style: none none solid;
    width: 220px;
    outline: none;
    padding-left: 5px;
}
button{
    outline: none;
    cursor: pointer;
}
.login{
    width: 100%;
    text-align: center;
}
#title_1{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: -10px;
}
#title_2{
    font-size: 12px;
    font-weight: normal;
    color: $border;
}
.block-login{
    margin-top: 200px;
}
.button-login{
    border-radius: 2px;
    background-color: $button;
    border: none;
    height: 42px;
    width: 220px;
    font-size: 14px;
    font-weight: 700;
}
.block-input{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
